.my-class {
    font-size: 160px;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/bg.jpg");
    color: transparent;
    background-size: contain;
    -webkit-background-clip: text;
}

.home-main {
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    justify-content: space-around;
}

.home-main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music-bg,
.book-bg,
.movie-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.music-bg {
    background-image: url("../img/home-music.jpg");
}

.book-bg {
    background-image: url("../img/home-book.jpg");
}

.movie-bg {
    background-image: url("../img/home-movie.jpg");
}

.img-circle {
    border-radius: 10%;
}

.home-disable {
    cursor: not-allowed;
    opacity: 0.25;
    color: #333;
}

.home-nav-disable {
    cursor: not-allowed;
}

#main-footer {
    height: 40px;
    background-color: #5f4938;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-footer p {
    font-size: 16px;
    margin-bottom: 0;
}

.jumbotron {
    height: 100vh;
    margin-bottom: 0;
}

.element {
  shape-image-threshold: 1.5;
  float: center;
  shape-outside: circle(30%);
  width: 150px;
  height: 150px;
  border-radius:50%;
}

.cd-list-title {
    display: flex;
    justify-content: space-around;
    margin: 0 0 20;
}

.album-info {
    width: 25vw;
}

.album-tracklist {
    width: 30vw;
}

