{% extends "base.html" %}
{% load static %}
{% block title %}Album Details{% endblock %}
{% block content %}
<section>
    <div class="media">
        <div>
            <figure class="figure">
                <img src="#" width="375px" class="figure-img img-fluid rounded" alt="cd-cover">
                <figcaption class="figure-caption">{{ cds.cover }}</figcaption>
            </figure>
        </div>
        <div class="album-info">
            <ul class="list-group">
                <li class="list-group-item">
                    <h6>Performer:</h6>{{ cds.performer }}</li>
                <li class="list-group-item">
                    <h6>Title:</h6>{{ cds.name_cd }}</li>
                <li class="list-group-item">
                    <h6>Year:</h6>{{ cds.year }}</li>
                <li class="list-group-item">
                    <h6>Publisher:</h6>{{ cds.performer }}</li>
                <li class="list-group-item">
                    <h6>Category:</h6>{{ cds.category_models }}</li>
            </ul>
        </div>
        <div>
            <li class="list-group-item album-tracklist">{{ cds.info }}</li>
        </div>
    </div>

    <div>
        {% if user.is_authenticated %}
            <a href="#">
                <button type="button" class="btn btn-info btn-sm">Edit album</button>
            </a>
            <a href="#">
                <button type="button" class="btn btn-danger btn-sm">Delete album</button>
            </a>
        {% endif %}
        <a href="{%url 'music-urls:list-of-cds' %}">
        <button type="button" class="btn btn-secondary btn-sm">Back to album list</button></a>
    </div>
</section>
<br>
<section>
    <div>
        <h4>Reviews</h4>
        {% if ratings|length == 0 %}
            <p>No ratings</p>
            <br>
        {% else %}
            {% for rate in ratings %}
                {{ rate }}
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'music-urls:rate' %}">
                <button type="button" class="btn btn-secondary btn-sm">
                    Leave rating
                </button>
            </a>
        {% endif %}
    </div>
</section>
{% endblock %}