<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CD Details</title>
</head>
<body>
    <h1>Okładka: {{cds.cover}}</h1>
    <h1>Tytuł: {{cds.name_cd}}</h1>
    <h1>Wykonawca: {{cds.performer}}</h1>
    <h1>Rok: {{cds.year}}</h1>
    <h1>Wydawca: {{cds.performer}}</h1>
    <h1>Informacje: {{cds.info}}</h1>
    <h1>Kategoria: {{cds.category_models}}</h1>
    <a href="{% url 'list-of-cds' %}"><button>Wróć na stronę główną</button></a>
    <br>
    <h1>Opinie</h1>
    {% if ratings|length == 0 %}
        <p>Brak opinii <button><a href="{% url 'rate-music' %}">Oceń płytę</button></a></p>
    {% else %}
        {% for rate in ratings %}
            {{rate}} <br>
        {% endfor %}
        <button><a href="{% url 'rate-music' %}">Oceń płytę</a></button>
    {% endif %}
</body>
</html>