{% extends "base.html" %}
{% load static %}
{% block title %}Album Details{% endblock %}
{% block content %}

<div style="display:flex; justify-content: space-between; background-color:white; margin-bottom: 20px;
border-radius: 7px">
    <div style="width:400px; height:400px">
        {% if not cds.cover %}
        <img src="{% static 'img/blank-cd.png' %}" style="width:400px; height:400px; border-radius: 7px"
             alt="album-cover">
        {% else %}
        <img src="{{ cds.cover.url }}" style="width:400px; height:400px; border-radius: 7px" alt="album-cover">
        {% endif %}
    </div>
    <div style="width:400px; height:400px; padding: 15px">
        <dl>
            <dt>Performer:</dt>
            <dd>{{ cds.performer }}</dd>
            <dt>Title:</dt>
            <dd>{{ cds.name_cd }}</dd>
            <dt>Year:</dt>
            <dd>{{ cds.year }}</dd>
            <dt>Publisher:</dt>
            <dd>{{ cds.publisher }}</dd>
            <dt>Category:</dt>
            <dd>{{ cds.category_models }}</dd>
            <br>
            <!-- IN DATABASE AVAILABLE ID=1,BORROWED ID==2 -->
            <dt>Status:</dt>
                {% if cds.availability_id == 1 %}
                    <dd style="color: #8bc34a">{{ cds.availability }}</dd>
                {% elif cds.availability_id == 2 %}
                    <dd style="color: red">{{ cds.availability }}</dd>
                {% else %}
                    <dd>{{ cds.availability }}</dd>
                {% endif %}
        </dl>
    </div>
    <div style="width:400px; height:400px; padding: 15px; overflow:auto">
        <dl>
            <dt>Tracklist:</dt>
            <dd>{{ cds.info|linebreaks }}</dd>
        </dl>
    </div>
</div>

<div style="align-text:row">
    {% if user.is_authenticated %}
    <a href="{% url 'music-urls:edit' cds.id %}">
        <button type="button" class="btn btn-info btn-sm">Edit album</button>
    </a>
    <a href="{% url 'music-urls:delete' cds.id %}">
        <button type="button" class="btn btn-danger btn-sm">Delete album</button>
    </a>
    {% endif %}
    {% include 'redirect-album-list.html' %}
</div>

<br>
<div>
    <div>
        <h4>Rating</h4>
        {% if ratings|length == 0 %}
            <p>No ratings</p>
        {% else %}
            {% for rate in ratings %}
            <p>{{ rate }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        {% if user.is_authenticated %}
        <a href="{% url 'music-urls:rate' %}">
            <button type="button" class="btn btn-secondary btn-sm">
                Rate
            </button>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}