<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kolekcja płyt</title>
</head>
<body>
    {% if cds|length == 0 %}
        <h2> Brak płyt w kolekcji</h2>
    {% else %}
        <h2> Ilość płyt płyt w kolekcji: {{ cds|length }}</h2>

        {% for cd in cds%}
           <a href="http://127.0.0.1:8000/cds/{{cd.id}}"><h3>{{ cd }}</h3></a>
            <p> {{ cd.info }}</p>
        {% endfor %}
    {% endif %}
    <button><a href="{% url 'rate-music' %}">Oceń płytę</a></button>
</body>
</html>