{% extends "base.html" %}
{% load static %}
{% block title %}Performer Details{% endblock %}
{% block content %}

<div style="display:flex; justify-content: space-between; background-color:white; margin-bottom: 20px;
border-radius: 7px">
    <div style="width:400px; height:80px; padding: 15px">
        <dl>
            <dt>Performer:</dt>
            <dd>{{ performer.name }}</dd>
        </dl>
    </div>
    <div style="width:400px; height:80px; padding: 15px">
        <dl>
            <dt>Website:</dt>
            <dd><a href="{{ performer.www }}" target="_blank">{{ performer.www }}</a></dd>
        </dl>
    </div>
        <div style="width:400px; height:80px; padding: 15px">
        <dl>
            <dt>Spotify:</dt>
            <dd><a href="{{ performer.spotify }}" target="_blank">{{ performer.spotify }}</a></dd>
        </dl>
    </div>
</div>
<div style="align-text:row">
    {% include 'redirect-performer-list.html' %}
</div>
{% endblock %}