{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Rate Album{% endblock %}
{% block content %}
<section>
    <table>
        <form method="post">
        {% csrf_token %}
        {{ form }}
    </table>
        <br>
        <div>
            {% include 'redirect-album-list.html' %}
            <a href="{%url 'music-urls:list-of-cds' %}">
            <button class="btn btn-success btn-sm" type="submit">
                Confirm</button>
        </div>
        </form>
</section>
{% endblock %}